@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Light.ttf) format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf) format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Bold.ttf) format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Black.ttf) format("ttf");
  font-weight: 900;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  width: 100%;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background-color: #2d303a;
  height: 89px;
  border-bottom: 6px #323746 solid;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrapper {
  width: 100%;
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 124px;
  height: 25px;
  margin-top: 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo > a {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Lato;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: -0.55px;
}

.header__logo > a::after {
  content: "*";
  color: #f06c64;
  font-family: "Lato";
  font-weight: bold;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 375px;
  height: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.list-data {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-data > * {
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
}

.list-data__nav-link {
  letter-spacing: -0.5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-data__nav-link:hover {
  color: #f06c64;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-data__nav-point {
  margin-bottom: 3px;
  height: 14px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main {
  width: 100%;
  margin: 0 auto;
  background-color: #ffefda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 594px;
  background-color: #f06c64;
  border-bottom: 6px #ea676b solid;
}

.slider-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px;
}

.slider-item__arrow-left,
.slider-item__arrow-right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slider-item__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.slider-item__slide > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100%;
  margin: auto;
  margin-top: 53px;
  -webkit-animation: appearance-key 1s ease-in;
          animation: appearance-key 1s ease-in;
}

@-webkit-keyframes appearance-key {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes appearance-key {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.main__services {
  min-height: 494px;
  background-color: #f2f2f2;
  border-bottom: 6px #ffffff solid;
}

.services {
  margin: 0 40px;
  margin-top: 58px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-items {
  font-family: "Lato";
}

.heading {
  color: #666d89;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  line-height: 36px;
}

.description {
  color: #767e9e;
  margin-top: 18px;
  font-size: 18px;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: 0.18px;
}

.services-items__advantage {
  margin-top: 46px;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.advBlock {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 104px;
}

.advBlock__img {
  width: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.advBlock__info {
  height: auto;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text {
  text-align: justify;
  color: #666d89;
}

.text__advHeader {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.1px;
}

.text__advAbout {
  margin-top: 11px;
  font-size: 12px;
  font-weight: regular;
  line-height: 22px;
}

.main__portfolio {
  min-height: 864px;
  background-color: #2d303a;
  border-bottom: 6px #323746 solid;
}

.portfolio {
  margin: 0 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 58px;
}

.portfolio-items {
  font-family: "Lato";
}

.portfolio-items__works {
  margin-top: 12px;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: left;
  width: 100%;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #767e9e;
  max-width: 290px;
  height: 22px;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
}

.sort__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px #767e9e solid;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sort__item:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px #ffffff solid;
  color: #ffffff;
}

.sort__itemClick {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px #ffffff solid;
  color: #ffffff;
}

.current-images {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin-top: 18px;
  grid-gap: 20px;
}

.images-data {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 187px;
  -webkit-animation: appearance-key 1s ease-in;
          animation: appearance-key 1s ease-in;
}

.footer {
  background-color: #2d303a;
  height: 76px;
  width: 100%;
}

.footer__wrapper {
  height: 100%;
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato";
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: #666d89;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0px 0px -2px;
}

.footerSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 152px;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.social img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.social img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffffff;
  border-radius: 20px;
}
