@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Light.ttf) format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf) format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Bold.ttf) format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Black.ttf) format("ttf");
  font-weight: 900;
}

@import "_reset";
@import "_header";
@import "_main";
@import "_slider";
@import "_services";
@import "_portfolio";
@import "_footer";
