@media screen and (max-width: 375px) {
  @media screen and (max-width: 768px) {
    .main__services {
      border-bottom: 0px;
    }

    .services {
      margin: 0 33px;
      margin-top: 25px;
      margin-bottom: 16px;
    }

    .description {
      line-height: 30px;
    }

    .services-items__advantage {
      margin-top: 32px;
      grid-gap: 19px;
    }

    .advBlock {
      margin-top: 0px;
      min-height: 100px;
      grid-gap: 0;
      margin-bottom: 0px;
    }

    .advBlock__info {
      max-width: 220px;
      width: 100%;
      margin-left: 20px;
    }

    .text__advHeader {
      width: 100%;
      letter-spacing: 0.1px;
    }

    .text__advAbout {
      width: 100%;
      margin-top: 10px;
    }
  }
}
