@media screen and (max-width: 375px) {
  .main__slider {
    border-bottom: 0;
  }

  .slider-item {
    min-height: 214px;
    height: 214px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
  }
  .slider-item__arrow-right {
    margin-right: -2px;
  }

  .slider-item__arrow-left,
  .slider-item__arrow-right {
    padding-top: 7px;
  }

  .slider-item__slide {
    padding: 5px 15px;
  }

  .slider-item__slide > img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 0;
  }
}
